{% extends 'main/base.html' %}
{% block title %}
{{title}}
{% endblock %}

{% block header %}
{{title}}
{% endblock %}
{% block content %}
<div class="col-12">
    <div class="row">
        {% if not object_list%}
            {% if user.is_staff and not user.is_superuser %}
            {% else %}
            <a class="btn btn-primary" href="{% url 'newsletter:create_newsletter'%}">
                Создать рассылку
            </a>
            {% endif %}
        {% endif %}
        {% for object in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h3 class="card-title">{{ object }}</h3>
                </div>
                <div class="card-body">
                    <h6 class="card-title">Тема: {{ object.messages.subject }}</h6>
                    <div class="card-text">Начало рассылки: {{ object.mail_time_from }}</div>
                    <div class="card-text">Конец рассылки: {{ object.mail_time_to}}</div>
                    <div class="card-text">Создана: {{ object.created_by}}</div>
                </div>
                <div class="card-footer">
                    <div class="btn-group">
                        <a href="{% url 'newsletter:detail_newsletter' object.pk %}"
                           class="btn btn-sm btn-secondary">Подробнее</a>
                        {% if user.is_staff and not user.is_superuser %}
                        {% else %}
                        <a href="{% url 'newsletter:update_newsletter' object.pk %}"
                           class="btn btn-sm btn-secondary">Редактировать</a>
                        {% endif %}
                        <a href="{% url 'newsletter:delete_newsletter' object.pk %}"
                           class="btn btn-sm btn-danger">Удалить</a>
                    </div>
                    <div class="btn-group m-1">
                        {% if user.is_staff or user.is_superuser %}
                        {% if object.is_active %}
                        <a href="{% url 'newsletter:toggle_is_active' object.pk %}"
                           class="btn btn-sm btn-warning">Deactivate</a>
                        {% else %}
                        <a href="{% url 'newsletter:toggle_is_active' object.pk %}"
                           class="btn btn-sm btn-success">Activate</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}