{% extends 'main/base.html' %}
{% block title %}
{{title}}
{% endblock %}

{% block header %}
{{title}}
{% endblock %}
{% block content %}

<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6"><h4 class="card-title">{{ object }}</h4></div>
                        <div class="col-6"><h4 class="card-title">{{ object.messages.subject }}</h4></div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Сообщение:</td>
                            <td>{{object.messages.body}}</td>
                        </tr>
                        <tr>
                            <td>Время начала рассылки:</td>
                            <td>{{ object.mail_time_from }}</td>
                        </tr>
                        <tr>
                            <td>Время окончания рассылки:</td>
                            <td>{{ object.mail_time_to }}</td>
                        </tr>
                        <tr>
                            <td>Периодичность:</td>
                            <td>{{ object.periodicity }}</td>
                        </tr>
                        <tr>
                            <td>Статус:</td>
                            <td>{{object.status}}</td>
                        </tr>
                    </table>

                    <table class="table">
                        <tr>
                            <td>Клиенты:</td>
                            <td></td>
                            {% for client in object.clients.all %}
                        <tr>
                            <td></td>
                            <td>{{client.email}}</td>
                        <tr>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="btn-group">
                        <a href="{% url 'newsletter:list_newsletterlogs' object.pk %}"
                           class="btn btn-sm btn-secondary">Отчёт по рассылке</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}