{% extends 'main/base.html' %}
{% block title %}
{{title}}
{% endblock %}

{% block header %}
{{title}}
{% endblock %}
{% block content %}
{% load my_tags %}
<div class="col-12">
    <div class="row">
        {% if not object_list%}
        <a class="btn btn-primary" href="{% url 'users:login' %}">
            Создать пользователя
        </a>
        {% endif %}
        {% for object in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="card-title">{{ object.email }}</h4>
                </div>
                <div class="card-body">
                    <img class="col-12 p-2" src="{{ object.avatar|mediapath }}">
                    <p class="text-center">Имя: {{object.first_name}}</p>
                    <p class="text-center">Фамилия: {{object.last_name}}</p>
                </div>
                <div class="card-footer">
                    <div class="btn-group">
                        <a href="{% url 'users:delete_user' object.pk %}"
                           class="btn btn-sm btn-danger">Удалить</a>
                        {% if user.is_superuser %}
                            {% if object.is_staff %}
                            <a href="{% url 'users:toggle_staff' object.pk %}"
                               class="btn btn-sm btn-outline-warning">Deactivate</a>
                            {% else %}
                            <a href="{% url 'users:toggle_staff' object.pk %}"
                               class="btn btn-sm btn-outline-success">Activate</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}