{% extends 'main/base.html' %}

{% block title %}
    {{ action }} клиента
{% endblock %}

{% block header %}
    {{ action }} клиента
{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <div class="invalid-feedback d-block">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="d-flex justify-content-between align-items-center">
            <input type="submit" class="btn btn-success" value="{{ action }}">
            {% if action == 'Редактировать' %}
                <a href="{% url 'client:delete_client' pk=object.pk %}" class="btn btn-danger">Удалить</a>
            {% endif %}
        </div>
    </form>
{% endblock %}