{% extends 'main/base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block header %}
    MMS
{% endblock %}

{% block content %}
    <div class="container mt-5">

        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        <h4 class="card-title">Всего рассылок</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        <h4 class="card-title">Активных рассылок</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        <h4 class="card-title">Уникальных клиентов</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="item-card">
                        <div class="item-thumb">
                            <img src="{{ post.preview.url }}">
                        </div>
                        <div class="item-details">
                            <h4><a href="#"></a></h4>
                            <p></p>
                            <div class="item-bottom-details d-flex justify-content-between">
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}