<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'main:index'%}">MMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto top-menu">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="BlogDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Блог
                </a>
                <div class="dropdown-menu" aria-labelledby="BlogDropdown">
                    <a class="dropdown-item" href="{% url 'app_blog:list_blog' %}">Статьи</a>                </div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="ClientsDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Клиенты
                </a>
                <div class="dropdown-menu" aria-labelledby="ClientsDropdown">
                    <a class="dropdown-item" href="{% url 'client:list_client'%}">Список клиентов</a>
                    <a class="dropdown-item" href="{% url 'client:create_client'%}">Создать клиента</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="MessagesDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Сообщения
                </a>
                <div class="dropdown-menu" aria-labelledby="MessagesDropdown">
                    <a class="dropdown-item" href="{% url 'message:list_message'%}">Список сообщений</a>
                    <a class="dropdown-item" href="{% url 'message:create_message'%}">Создать сообщение</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="NewsletterDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Рассылки
                </a>
                <div class="dropdown-menu" aria-labelledby="NewsletterDropdown">
                    <a class="dropdown-item" href="#">
                        Список всех рассылок
                        Список моих рассылок
                    </a>
                    <a class="dropdown-item" href="#">
                        Создать рассылку
                    </a>
                    <a class="dropdown-item" href="#">
                        Отчёт по проведённым рассылкам
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="ManagersDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Менеджмент
                </a>
                <div class="dropdown-menu" aria-labelledby="ManagersDropdown">
                    <a class="dropdown-item" href="#">Список пользователей сервиса</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 top-menu">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="UserDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-regular fa-user"></i>
                    {% if request.user.is_authenticated %}
                        {{ request.user }}
                    {% endif %}
                </a>
                {% if request.user.is_authenticated %}
                    <ul class="dropdown-menu user-dropdown-menu" aria-labelledby="UserDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'users:profile' %}">
                                {{ request.user }}
                            </a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выход</a></li>
                    </ul>
                {% else %}
                    <ul class="dropdown-menu user-dropdown-menu" aria-labelledby="UserDropdown">
                        <li><a class="dropdown-item" href="{% url 'users:register' %}">Регистрация</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:login' %}">Авторизация</a></li>
                    </ul>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>