<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="#!">Action</a>
                <a class="dropdown-item" href="#!">Another action</a>
            </div>
        </div>
        <ul class="navbar-nav mr-auto top-menu">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="newsletterDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Клиенты
                </a>
                <div class="dropdown-menu" aria-labelledby="newsletterDropdown">
                    <a class="dropdown-item" href="#">Список моих клиентов</a>
                    <a class="dropdown-item" href="#">Создать клиента</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="newsletterDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Письма
                </a>
                <div class="dropdown-menu" aria-labelledby="newsletterDropdown">
                    <a class="dropdown-item" href="#">Список моих писем</a>
                    <a class="dropdown-item" href="#">Создать письмо</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="newsletterDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Рассылки
                </a>
                <div class="dropdown-menu" aria-labelledby="newsletterDropdown">
                    <a class="dropdown-item" href="#">
                        Список всех рассылок
                        Список моих рассылок
                    </a>
                    <a class="dropdown-item" href="#">
                        Создать рассылку
                    </a>
                    <a class="dropdown-item" href="#">
                        Отчёт по проведённым рассылкам
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="newsletterDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Менеджмент
                </a>
                <div class="dropdown-menu" aria-labelledby="newsletterDropdown">
                    <a class="dropdown-item" href="#">Список пользователей сервиса</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 top-menu">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="blogDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-regular fa-user"></i>
                </a>
                <ul class="dropdown-menu user-dropdown-menu" aria-labelledby="blogDropdown">
                    <li>
                        <a class="dropdown-item" href="#">
                        </a>
                    </li>
                    <li><a class="dropdown-item" href="#">Выход</a></li>
                </ul>
                <ul class="dropdown-menu user-dropdown-menu" aria-labelledby="blogDropdown">
                    <li><a class="dropdown-item" href="#">Регистрация</a></li>
                    <li><a class="dropdown-item" href="#">Авторизация</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>